USE [Member]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2025/12/20 上午 07:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 2025/12/20 上午 07:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[UserId] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Birthday] [date] NULL,
	[Address] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 2025/12/20 上午 07:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/12/20 上午 07:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](300) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'管理員')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'一般會員')
GO
INSERT [dbo].[UserProfiles] ([UserId], [FullName], [Birthday], [Address]) VALUES (N'019b31df-6ee0-7b1d-9ae6-68d525653b69', N'許瀚文', CAST(N'1990-02-17' AS Date), N'我家牛排123')
INSERT [dbo].[UserProfiles] ([UserId], [FullName], [Birthday], [Address]) VALUES (N'019b3799-e8a7-7993-99a6-a41c75b5ac1c', N'紅茶老爹', CAST(N'2025-12-17' AS Date), N'測試用的')
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'019b31df-6ee0-7b1d-9ae6-68d525653b69', 1)
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'019b3799-e8a7-7993-99a6-a41c75b5ac1c', 2)
GO
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'019b31df-6ee0-7b1d-9ae6-68d525653b69', N'979', N'wt5xT8us8YpmZXi5p+Yb6I6lLiOSsxZJ7K6Cq79V9TI=', 1, CAST(N'2025-12-18T14:31:25.1525746' AS DateTime2), CAST(N'2025-12-19T23:41:23.8829428' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'019b3799-e8a7-7993-99a6-a41c75b5ac1c', N'ytm@gmail.com', N'wt5xT8us8YpmZXi5p+Yb6I6lLiOSsxZJ7K6Cq79V9TI=', 1, CAST(N'2025-12-19T17:13:12.1045024' AS DateTime2), NULL)
GO
